body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #0b0082, #930101);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    margin-bottom: 5px;
}

p {
    color: white;
    margin-bottom: 15px;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#display {
    width: 90%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    border: none;
    background: #e7e7e7;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    font-size: 1.2em;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #1087e8;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #1976D2;
}

/* button:nth-child(4n) {
    background: #FF5722;
}

button:nth-child(4n):hover {
    background: #d13e11;
} */

button:nth-child(1) { /* Tombol kedua yaitu Delete */
    background: #ff0000; /* Warna oranye */
}

button:nth-child(4) { /* Tombol kedua yaitu Delete */
    background: #ff0000; /* Warna oranye */
}

button:nth-child(20):hover {
    background: #0218bc;
}

button:nth-child(20) { /* Tombol kedua yaitu Delete */
    background: #1a00db; /* Warna oranye */
}
